<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Refer-us</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  

  <ion-card class="transition">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Refer and Earn</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <h2>You and your Freind earn Flat 3000 Points  each on friends first plan purchase</h2>
    </ion-card-content>
  </ion-card>
  <ion-button >Invite Now</ion-button>
  <ion-button routerLink="/home">DOubts HOme</ion-button>
</ion-content>
<ion-footer class="transition">
  <ion-toolbar color="undefined" (click)="logout()">
    
    <ion-button>
      <ion-icon slot="icon-only" name="star"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon slot="icon-only" name="logo-whatsapp"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
